	body{
		background: Pink1;

	}
	div.main{
		margin: 10px;
		
	}
	th{
		background-color: rgb(58,26,90);
		width: 200px;
		color: white;
	}
	th, td {
		text-align: center;			
	}
	table, th, td {
			border-top: 1px solid grey;
			border: 1px solid grey;
			border-collapse: collapse;
	}
	a{
		color:#ffffff;
	}

	.salas{
		color:white;
		background-color: rgb(58,26,90);
		margin: 50px;
		border:1px solid rgb(58,26,90);
		border-radius: 10px;
		background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3));
	}

	.salas:hover{
		color: white;
		background-color: #00b386;
		margin: 50px;
		border:1px solid #00b386;
		border-radius: 10px;
		background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.1));
	}
	

	a#ippa:active{
		
		color: white;
		
	}
	a#ippa:visited{
		
		color: white;
		
	}
	a#ippa:link{
		
		color: white;
		
	}
	a#ippa:hover{
		
		color: white;
		
	}
	
	
	
	.pa{
			padding: 5px;
			text-align: center;
			
	}
	.cab{
			background-color: rgb(58,26,90);
			width: 100%;
			color:white;
			border-color: rgb(58,26,90);

	}
	#title{
			background-color: rgba(58,26,90,0.1);
			color:white;

	}
	#icon{
			
			color: white;
			padding: 3px 0px 0px 0px;
			margin: 0px; 
			text-align: center;
			/*float: right;*/
	}	
				
	a.icon7:hover{
		color:white;		
	}
	a.icon7:action{
		color:white;		
	}
	a.icon7:visited{
		color:white;		
	}
	a.icon7{
		color:white;		
	}
	
	
	#icon2{
		
		padding: 10px; 
		margin: 2px 7px 7px 7px;
		border-radius: 5px;
	}
	
	#icon2:hover{
		border: solid white 2px;
		padding: 10px; 
		margin: 0px 5px 5px 5px;
		border-radius: 5px;
	}

	@media (min-width: 767px) {
	    .navbar-nav .dropdown-menu .caret {
		transform: rotate(-90deg);
	    }

	   
	    .footer {
	    	text-align: center;
	    	color: white;
	    	padding: 10px 0px 0px 0px;
	    }
	}

		#########################################


	@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(58,26,90);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #00b386;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: rgb(58,26,90);
  text-decoration: none;
}
.form .register-form {
  display: none;
}

body {
  background: #FFFFFF;  fallback for old browsers 
 /* background: -webkit-linear-gradient(right, #C6ACC4, #AD7FA8);
  background: -moz-linear-gradient(right, #C6ACC4, #AD7FA8);
  background: -o-linear-gradient(right, #C6ACC4, #AD7FA8);
  background: linear-gradient(to left, #C6ACC4, #AD7FA8);*/
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;     
}
	